{
  "openapi": "3.0.3",
  "info": {
    "title": "AlDiwan Developers API",
    "version": "1.0.0",
    "description": "AlDiwan public API v1. Published CATS poets and their poems only. Member accounts, community poems, quotations, and internal services are excluded. Preserve the returned attribution. API access does not grant content reuse rights; see https://developers.aldiwan.net/developer-agreement and https://developers.aldiwan.net/content-rights.",
    "termsOfService": "https://developers.aldiwan.net/developer-agreement",
    "contact": {"name": "AlDiwan Developer Relations", "url": "https://developers.aldiwan.net/"}
  },
  "servers": [{"url": "https://api.aldiwan.net/v1"}],
  "tags": [
    {"name": "Poets", "description": "Published classical poets."},
    {"name": "Poems", "description": "Published classical poetry."},
    {"name": "Search", "description": "Search across public poets and poems."},
    {"name": "Discovery", "description": "Controlled vocabularies used for filtering."}
  ],
  "security": [{"bearerApiKey": []}],
  "components": {
    "securitySchemes": {
      "bearerApiKey": {"type": "http", "scheme": "bearer", "bearerFormat": "API key"}
    },
    "parameters": {
      "page": {"name": "page", "in": "query", "description": "Page numbers are bounded to 1–1,000.", "schema": {"type": "integer", "minimum": 1, "maximum": 1000, "default": 1}},
      "perPage": {"name": "per_page", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 50, "default": 20}},
      "id": {"name": "id", "in": "path", "required": true, "schema": {"type": "integer", "minimum": 1}},
      "poetId": {"name": "poet_id", "in": "query", "schema": {"type": "integer", "minimum": 1}},
      "eraId": {"name": "era_id", "in": "query", "schema": {"type": "integer", "minimum": 1}},
      "theme": {"name": "theme", "in": "query", "schema": {"type": "string", "maxLength": 100}},
      "meter": {"name": "meter", "in": "query", "schema": {"type": "string", "maxLength": 100}},
      "rhyme": {"name": "rhyme", "in": "query", "schema": {"type": "string", "maxLength": 100}},
      "poemStyle": {"name": "poem_style", "in": "query", "description": "Normalized poem form. vertical uses paired hemistichs; prose uses lines; free_verse uses stanzas.", "schema": {"type": "string", "enum": ["vertical", "prose", "free_verse", "unknown"]}},
      "poetQuery": {"name": "q", "in": "query", "description": "Substring match on poet name (up to 100 characters).", "schema": {"type": "string", "maxLength": 100}},
      "searchQuery": {"name": "q", "in": "query", "required": true, "description": "Search text, 2–100 characters. On the production MySQL catalog, terms use full-text boolean prefix matching; up to 10 whitespace-separated terms are considered.", "schema": {"type": "string", "minLength": 2, "maxLength": 100}},
      "searchType": {"name": "type", "in": "query", "description": "Result groups to return. With all, groups for which the key lacks scope are omitted.", "schema": {"type": "string", "enum": ["all", "poems", "poets"], "default": "all"}},
      "searchPerPage": {"name": "per_page", "in": "query", "description": "Maximum results in each search group. The service caps this at 20 and may apply a lower plan limit.", "schema": {"type": "integer", "minimum": 1, "maximum": 20, "default": 20}},
      "category": {"name": "category", "in": "query", "deprecated": true, "description": "Compatibility alias for theme. When both are supplied, theme takes precedence.", "schema": {"type": "string", "maxLength": 100}}
    },
    "schemas": {
      "PoetSummary": {
        "type": "object",
        "required": ["id", "name", "slug"],
        "additionalProperties": false,
        "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "slug": {"type": "string"}}
      },
      "PoetCollection": {"type": "object", "required": ["data", "meta", "links"], "additionalProperties": false, "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/Poet"}}, "meta": {"$ref": "#/components/schemas/PageMeta"}, "links": {"$ref": "#/components/schemas/PageLinks"}}},
      "PageMeta": {"type": "object", "required": ["current_page", "per_page", "total", "last_page"], "additionalProperties": false, "properties": {"current_page": {"type": "integer", "minimum": 1}, "per_page": {"type": "integer", "minimum": 1, "maximum": 50, "description": "The effective page size after the plan limit is applied."}, "total": {"type": "integer", "minimum": 0}, "last_page": {"type": "integer", "minimum": 1}}},
      "PageLinks": {"type": "object", "required": ["next", "previous"], "additionalProperties": false, "properties": {"next": {"type": "string", "format": "uri", "nullable": true}, "previous": {"type": "string", "format": "uri", "nullable": true}}},
      "PoemSummaryCollection": {"type": "object", "required": ["data", "meta", "links"], "additionalProperties": false, "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/PoemSummary"}}, "meta": {"$ref": "#/components/schemas/PageMeta"}, "links": {"$ref": "#/components/schemas/PageLinks"}}},
      "PoemSlug": {"type": "object", "required": ["id", "slug"], "additionalProperties": false, "properties": {"id": {"type": "integer"}, "slug": {"type": "string", "example": "poem-123"}}},
      "PoemSlugCollection": {"type": "object", "required": ["data", "meta", "links"], "additionalProperties": false, "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/PoemSlug"}}, "meta": {"$ref": "#/components/schemas/PageMeta"}, "links": {"$ref": "#/components/schemas/PageLinks"}}},
      "CountData": {"type": "object", "required": ["count"], "additionalProperties": false, "properties": {"count": {"type": "integer", "minimum": 0}}},
      "SearchData": {"type": "object", "minProperties": 1, "description": "Contains only result groups allowed by both the requested type and the key scopes; a group can be absent.", "additionalProperties": false, "properties": {"poems": {"type": "array", "items": {"$ref": "#/components/schemas/PoemSummary"}}, "poets": {"type": "array", "items": {"$ref": "#/components/schemas/Poet"}}}},
      "SearchResponse": {"type": "object", "required": ["data"], "additionalProperties": false, "properties": {"data": {"$ref": "#/components/schemas/SearchData"}}},
      "ThemeOption": {"type": "object", "required": ["name"], "additionalProperties": false, "properties": {"name": {"type": "string"}}},
      "MeterOption": {"type": "object", "required": ["name"], "additionalProperties": false, "properties": {"name": {"type": "string"}}},
      "RhymeOption": {"type": "object", "required": ["letter"], "additionalProperties": false, "properties": {"letter": {"type": "string"}}},
      "EraOption": {"type": "object", "required": ["id", "name", "slug"], "additionalProperties": false, "properties": {"id": {"type": "integer"}, "name": {"type": "string"}, "slug": {"type": "string"}}},
      "ThemeList": {"type": "object", "required": ["data"], "additionalProperties": false, "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/ThemeOption"}}}},
      "MeterList": {"type": "object", "required": ["data"], "additionalProperties": false, "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/MeterOption"}}}},
      "RhymeList": {"type": "object", "required": ["data"], "additionalProperties": false, "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/RhymeOption"}}}},
      "EraList": {"type": "object", "required": ["data"], "additionalProperties": false, "properties": {"data": {"type": "array", "items": {"$ref": "#/components/schemas/EraOption"}}}},
      "PoetResponse": {"type": "object", "required": ["data"], "additionalProperties": false, "properties": {"data": {"$ref": "#/components/schemas/Poet"}}},
      "PoemResponse": {"type": "object", "required": ["data"], "additionalProperties": false, "properties": {"data": {"$ref": "#/components/schemas/Poem"}}},
      "CountResponse": {"type": "object", "required": ["data"], "additionalProperties": false, "properties": {"data": {"$ref": "#/components/schemas/CountData"}}},
      "Era": {
        "type": "object",
        "additionalProperties": false,
        "properties": {"id": {"type": "integer"}, "name": {"type": "string"}}
      },
      "Poet": {
        "type": "object",
        "required": ["id", "name", "slug", "image_url", "biography", "gender", "era", "country", "canonical_url"],
        "additionalProperties": false,
        "properties": {
          "id": {"type": "integer"}, "name": {"type": "string"}, "slug": {"type": "string"},
          "image_url": {"type": "string", "format": "uri", "nullable": true},
          "biography": {"type": "string", "nullable": true}, "gender": {"type": "integer", "nullable": true},
          "era": {"$ref": "#/components/schemas/Era"},
          "country": {"type": "string", "nullable": true, "description": "Reserved; null until a verified CATS country source exists."},
          "canonical_url": {"type": "string", "format": "uri"}
        }
      },
      "Attribution": {
        "type": "object",
        "required": ["required", "text", "url"],
        "additionalProperties": false,
        "properties": {"required": {"type": "boolean"}, "text": {"type": "string"}, "url": {"type": "string", "format": "uri"}}
      },
    "PoemSummary": {
      "type": "object",
      "required": ["id", "title", "slug", "poet", "era", "meter", "theme", "rhyme", "poem_style", "display_layout", "excerpt", "canonical_url", "attribution"],
      "additionalProperties": false,
      "description": "Summary returned by list, search, and poet-poem endpoints. It contains an excerpt of at most 240 characters and never contains full poem text.",
      "properties": {
        "id": {"type": "integer"}, "title": {"type": "string"}, "slug": {"type": "string"},
        "poet": {"$ref": "#/components/schemas/PoetSummary"}, "era": {"$ref": "#/components/schemas/Era"},
        "meter": {"type": "string", "nullable": true}, "theme": {"type": "string", "nullable": true}, "rhyme": {"type": "string", "nullable": true},
        "poem_style": {"type": "string", "enum": ["vertical", "prose", "free_verse", "unknown"]},
        "display_layout": {"type": "string", "enum": ["hemistichs", "lines", "stanzas"]},
        "excerpt": {"type": "string", "maxLength": 240, "description": "A text excerpt with a maximum length of 240 characters."},
        "canonical_url": {"type": "string", "format": "uri"}, "attribution": {"$ref": "#/components/schemas/Attribution"}
      }
    },
    "PoemCollection": {"$ref": "#/components/schemas/PoemSummaryCollection"},
    "Poem": {
        "type": "object",
        "required": ["id", "title", "slug", "poet", "era", "meter", "theme", "rhyme", "poem_style", "display_layout", "excerpt", "text", "canonical_url", "attribution"],
        "additionalProperties": false,
        "properties": {
          "id": {"type": "integer"}, "title": {"type": "string"}, "slug": {"type": "string"},
          "poet": {"$ref": "#/components/schemas/PoetSummary"},
          "era": {"$ref": "#/components/schemas/Era"},
          "meter": {"type": "string", "nullable": true},
          "theme": {"type": "string", "nullable": true},
          "rhyme": {"type": "string", "nullable": true},
          "poem_style": {"type": "string", "enum": ["vertical", "prose", "free_verse", "unknown"], "description": "Normalized literary form; does not expose the source database field."},
          "display_layout": {"type": "string", "enum": ["hemistichs", "lines", "stanzas"], "description": "Rendering hint. Preserve text line breaks; pair consecutive lines only for hemistichs."},
          "excerpt": {"type": "string", "maxLength": 240, "description": "The same bounded preview field returned by summary endpoints."},
          "text": {"type": "string"},
          "canonical_url": {"type": "string", "format": "uri"},
          "attribution": {"$ref": "#/components/schemas/Attribution"}
        }
      },
    "Error": {
        "type": "object",
        "properties": {
          "error": {"type": "object", "required": ["code", "message", "request_id"], "additionalProperties": true,
            "properties": {"code": {"type": "string", "enum": ["https_required", "missing_api_key", "invalid_api_key", "api_key_inactive", "api_key_expired", "application_inactive", "developer_inactive", "application_restricted", "missing_scope", "full_text_access_denied", "not_found", "validation_failed", "rate_limit_exceeded", "quota_exceeded", "full_text_quota_exceeded", "internal_error"]}, "message": {"type": "string"}, "request_id": {"type": "string"}, "fields": {"type": "object", "additionalProperties": {"type": "array", "items": {"type": "string"}}}, "required_scope": {"type": "string"}, "retry_after": {"type": "integer", "minimum": 0}, "allowed": {"type": "boolean"}, "reason": {"type": "string"}, "limit": {"type": "integer"}, "used": {"type": "integer"}, "remaining": {"type": "integer"}, "reset_at": {"type": "string", "format": "date-time"}, "full_text_daily": {"$ref": "#/components/schemas/QuotaBucket"}, "full_text_monthly": {"$ref": "#/components/schemas/QuotaBucket"}}}
        }
      },
      "QuotaBucket": {"type": "object", "required": ["limit", "used", "remaining", "reset_at"], "additionalProperties": false, "properties": {"limit": {"type": "integer"}, "used": {"type": "integer"}, "remaining": {"type": "integer"}, "reset_at": {"type": "string", "format": "date-time"}}}
    },
    "headers": {
      "RequestId": {"description": "Unique identifier for support and log correlation.", "schema": {"type": "string"}},
      "RetryAfter": {"description": "Seconds until a rate limit or quota may be retried.", "schema": {"type": "integer", "minimum": 0}},
      "RateLimitLimit": {"description": "Requests allowed in the current rate-limit window.", "schema": {"type": "integer"}},
      "RateLimitRemaining": {"description": "Requests remaining in the current rate-limit window.", "schema": {"type": "integer"}},
      "RateLimitReset": {"description": "Unix timestamp when the current rate-limit window resets.", "schema": {"type": "integer"}},
      "MonthlyQuotaLimit": {"description": "Monthly request-unit allowance.", "schema": {"type": "integer"}},
      "MonthlyQuotaRemaining": {"description": "Monthly request units remaining.", "schema": {"type": "integer"}},
      "MonthlyQuotaReset": {"description": "ISO 8601 timestamp when the monthly quota resets.", "schema": {"type": "string", "format": "date-time"}},
      "FullTextDailyLimit": {"description": "Daily full-text request allowance.", "schema": {"type": "integer"}},
      "FullTextDailyRemaining": {"description": "Daily full-text requests remaining.", "schema": {"type": "integer"}},
      "FullTextDailyReset": {"description": "ISO 8601 daily full-text reset time.", "schema": {"type": "string", "format": "date-time"}},
      "FullTextMonthlyLimit": {"description": "Monthly full-text request allowance.", "schema": {"type": "integer"}},
      "FullTextMonthlyRemaining": {"description": "Monthly full-text requests remaining.", "schema": {"type": "integer"}},
      "FullTextMonthlyReset": {"description": "ISO 8601 monthly full-text reset time.", "schema": {"type": "string", "format": "date-time"}}
    },
    "responses": {
      "BadRequest": {"description": "The request is invalid or HTTPS is required.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
      "Unauthorized": {"description": "The Bearer API key is missing, invalid, inactive, or expired.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "WWW-Authenticate": {"description": "Bearer challenge; invalid credentials include error=invalid_token.", "schema": {"type": "string"}}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}, "example": {"error": {"code": "missing_api_key", "message": "A Bearer API key is required.", "request_id": "req_example"}}}}},
      "Forbidden": {"description": "The key, application, plan, or requested scope does not permit this operation.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}}}},
      "NotFound": {"description": "The requested poet, poem, or route was not found.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}, "example": {"error": {"code": "not_found", "message": "Poem not found.", "request_id": "req_example"}}}}},
      "Validation": {"description": "Query parameters failed validation. Error code is validation_failed and fields maps parameter names to validation messages.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}, "example": {"error": {"code": "validation_failed", "message": "The request data is invalid.", "request_id": "req_example", "fields": {"per_page": ["The per page must be at least 1."]}}}}}},
      "TooManyRequests": {"description": "The rate limit or request/full-text quota is exhausted. Respect Retry-After; calendar quota resets are described by quota headers.", "headers": {"Retry-After": {"$ref": "#/components/headers/RetryAfter"}, "X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}, "X-FullTextQuota-Daily-Limit": {"$ref": "#/components/headers/FullTextDailyLimit"}, "X-FullTextQuota-Daily-Remaining": {"$ref": "#/components/headers/FullTextDailyRemaining"}, "X-FullTextQuota-Daily-Reset": {"$ref": "#/components/headers/FullTextDailyReset"}, "X-FullTextQuota-Monthly-Limit": {"$ref": "#/components/headers/FullTextMonthlyLimit"}, "X-FullTextQuota-Monthly-Remaining": {"$ref": "#/components/headers/FullTextMonthlyRemaining"}, "X-FullTextQuota-Monthly-Reset": {"$ref": "#/components/headers/FullTextMonthlyReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}, "examples": {"rateLimit": {"value": {"error": {"code": "rate_limit_exceeded", "message": "Rate limit exceeded.", "request_id": "req_example", "retry_after": 30}}}, "monthlyQuota": {"value": {"error": {"code": "quota_exceeded", "message": "Monthly quota exceeded.", "request_id": "req_example", "allowed": false, "reason": "quota_exceeded", "retry_after": 86400, "limit": 1000, "used": 1000, "remaining": 0, "reset_at": "2026-11-01T00:00:00Z"}}}, "fullTextQuota": {"value": {"error": {"code": "full_text_quota_exceeded", "message": "Full-text quota exceeded.", "request_id": "req_example"}}}}}}},
      "InternalError": {"description": "Unexpected server failure. The error message is sanitized; include the request ID in a support request.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/Error"}, "example": {"error": {"code": "internal_error", "message": "The request could not be completed.", "request_id": "req_example"}}}}}
    }
  },
  "x-quota-headers": {
    "general-monthly": ["X-MonthlyQuota-Limit", "X-MonthlyQuota-Remaining", "X-MonthlyQuota-Reset"],
    "full-text": ["X-FullTextQuota-Daily-Limit", "X-FullTextQuota-Daily-Remaining", "X-FullTextQuota-Daily-Reset", "X-FullTextQuota-Monthly-Limit", "X-FullTextQuota-Monthly-Remaining", "X-FullTextQuota-Monthly-Reset"],
    "reset": "Monthly quota counters reset at the start of each calendar month, including for annual plans."
  },
  "paths": {
    "/poets": {"get": {"operationId": "listPoets", "tags": ["Poets"], "summary": "List CATS poets", "description": "Returns poet DTOs with the populated era relationship. page is bounded to 1–1,000; per_page is bounded to 1–50 and may be lower under the active plan.", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/poetQuery"}], "responses": {"200": {"description": "Paginated poets.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PoetCollection"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "422": {"$ref": "#/components/responses/Validation"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/poets/{id}": {"get": {"operationId": "getPoet", "tags": ["Poets"], "summary": "Get a CATS poet", "parameters": [{"$ref": "#/components/parameters/id"}], "responses": {"200": {"description": "Poet DTO.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PoetResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/poets/{id}/poems": {"get": {"operationId": "listPoetPoems", "tags": ["Poets", "Poems"], "summary": "List poems by a CATS poet", "parameters": [{"$ref": "#/components/parameters/id"}, {"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}], "responses": {"200": {"description": "Paginated poem summaries; no full text field is returned.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PoemSummaryCollection"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "422": {"$ref": "#/components/responses/Validation"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/poems": {"get": {"operationId": "listPoems", "tags": ["Poems"], "summary": "List CATS poem summaries", "description": "Returns metadata and an excerpt of up to 240 characters. Full poem text is available only from GET /poems/{id}. `category` is a compatibility alias for `theme`.", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/poetId"}, {"$ref": "#/components/parameters/eraId"}, {"$ref": "#/components/parameters/theme"}, {"$ref": "#/components/parameters/category"}, {"$ref": "#/components/parameters/meter"}, {"$ref": "#/components/parameters/rhyme"}, {"$ref": "#/components/parameters/poemStyle"}], "responses": {"200": {"description": "Paginated poem summaries with excerpts up to 240 characters; no full text field is returned.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PoemSummaryCollection"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "422": {"$ref": "#/components/responses/Validation"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/poems/count": {"get": {"operationId": "countPoems", "tags": ["Poems"], "summary": "Count filtered CATS poems", "description": "Accepts the poem filters below; pagination is not used.", "parameters": [{"$ref": "#/components/parameters/poetId"}, {"$ref": "#/components/parameters/eraId"}, {"$ref": "#/components/parameters/theme"}, {"$ref": "#/components/parameters/category"}, {"$ref": "#/components/parameters/meter"}, {"$ref": "#/components/parameters/rhyme"}, {"$ref": "#/components/parameters/poemStyle"}], "responses": {"200": {"description": "Filtered count.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/CountResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "422": {"$ref": "#/components/responses/Validation"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/poems/slugs": {"get": {"operationId": "listPoemSlugs", "tags": ["Poems"], "summary": "List CATS poem identifiers", "description": "Paginated stable numeric IDs and generated slugs; accepts the poem filters.", "parameters": [{"$ref": "#/components/parameters/page"}, {"$ref": "#/components/parameters/perPage"}, {"$ref": "#/components/parameters/poetId"}, {"$ref": "#/components/parameters/eraId"}, {"$ref": "#/components/parameters/theme"}, {"$ref": "#/components/parameters/category"}, {"$ref": "#/components/parameters/meter"}, {"$ref": "#/components/parameters/rhyme"}, {"$ref": "#/components/parameters/poemStyle"}], "responses": {"200": {"description": "Paginated identifiers.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PoemSlugCollection"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "422": {"$ref": "#/components/responses/Validation"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/poems/{id}": {"get": {"operationId": "getPoem", "tags": ["Poems"], "summary": "Get a CATS poem with full text", "description": "The only endpoint that returns full poem text. Full-text daily and monthly quotas apply separately from the general monthly quota.", "parameters": [{"$ref": "#/components/parameters/id"}], "responses": {"200": {"description": "Poem with full text.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}, "X-FullTextQuota-Daily-Limit": {"$ref": "#/components/headers/FullTextDailyLimit"}, "X-FullTextQuota-Daily-Remaining": {"$ref": "#/components/headers/FullTextDailyRemaining"}, "X-FullTextQuota-Daily-Reset": {"$ref": "#/components/headers/FullTextDailyReset"}, "X-FullTextQuota-Monthly-Limit": {"$ref": "#/components/headers/FullTextMonthlyLimit"}, "X-FullTextQuota-Monthly-Remaining": {"$ref": "#/components/headers/FullTextMonthlyRemaining"}, "X-FullTextQuota-Monthly-Reset": {"$ref": "#/components/headers/FullTextMonthlyReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/PoemResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "404": {"$ref": "#/components/responses/NotFound"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/search": {"get": {"operationId": "search", "tags": ["Search"], "summary": "Search CATS poets and poem summaries", "description": "Poem results include an excerpt of up to 240 characters and no full text. On production MySQL, search uses full-text boolean prefix matching; each group returns at most per_page results. Set type to poems or poets to require only that scope; with all, inaccessible groups are omitted.", "parameters": [{"$ref": "#/components/parameters/searchQuery"}, {"$ref": "#/components/parameters/searchType"}, {"$ref": "#/components/parameters/searchPerPage"}], "responses": {"200": {"description": "Grouped search results.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/SearchResponse"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "422": {"$ref": "#/components/responses/Validation"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/categories": {"get": {"operationId": "listCategories", "tags": ["Discovery"], "summary": "List themes (compatibility alias)", "responses": {"200": {"description": "Theme options; equivalent to /themes.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThemeList"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/themes": {"get": {"operationId": "listThemes", "tags": ["Discovery"], "summary": "List themes", "responses": {"200": {"description": "Theme options.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/ThemeList"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/eras": {"get": {"operationId": "listEras", "tags": ["Discovery"], "summary": "List eras", "responses": {"200": {"description": "Literary eras.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/EraList"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/meters": {"get": {"operationId": "listMeters", "tags": ["Discovery"], "summary": "List meters", "responses": {"200": {"description": "Meter options.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/MeterList"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}},
    "/rhymes": {"get": {"operationId": "listRhymes", "tags": ["Discovery"], "summary": "List rhymes", "responses": {"200": {"description": "Rhyme-letter options.", "headers": {"X-Request-ID": {"$ref": "#/components/headers/RequestId"}, "X-RateLimit-Limit": {"$ref": "#/components/headers/RateLimitLimit"}, "X-RateLimit-Remaining": {"$ref": "#/components/headers/RateLimitRemaining"}, "X-RateLimit-Reset": {"$ref": "#/components/headers/RateLimitReset"}, "X-MonthlyQuota-Limit": {"$ref": "#/components/headers/MonthlyQuotaLimit"}, "X-MonthlyQuota-Remaining": {"$ref": "#/components/headers/MonthlyQuotaRemaining"}, "X-MonthlyQuota-Reset": {"$ref": "#/components/headers/MonthlyQuotaReset"}}, "content": {"application/json": {"schema": {"$ref": "#/components/schemas/RhymeList"}}}}, "400": {"$ref": "#/components/responses/BadRequest"}, "401": {"$ref": "#/components/responses/Unauthorized"}, "403": {"$ref": "#/components/responses/Forbidden"}, "429": {"$ref": "#/components/responses/TooManyRequests"}, "500": {"$ref": "#/components/responses/InternalError"}}}}
  }
}
